.Header {
  box-shadow: 0px 4px 16px -10px rgba(35, 37, 46, 0.08),
    inset 0px -2.5px 0px #d5d5d3;
  max-height: 18vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: calc(10px + 2vmin);
}
